* {
  box-sizing: border-box; 
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color:black;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.header {
  background-color: deepskyblue;
  
}
.section-profile-logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 1px 4px rgb(6, 118, 209);
  margin-top: 30px;
}
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menu-link {
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #fff; 
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: .5s;
}

.menu-link:hover::after {
  opacity: 1;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.main {
  margin-bottom: auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  width: calc(50% - 20px);
  padding: 0px;
  padding-bottom: 35px;
  border-bottom: thick double #32a1ce;
  padding-left: 20px;
}

.section-education,
.section-english {
  border-bottom: 0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000000;
  padding-left: 20px;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 500%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #32a1ce;
}

.pre {
  padding: 0;
  margin: 0;
}
.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}
.main-title {
  position:relative;
  padding: 0;
  margin-bottom: 0px;
  color: #000000;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}
.main-title::after {
  position:absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  background-color: hsl(0, 0%, 0%);
}

.section-subtitle {
  color:#000000;
  line-height: 23px;
  font-weight: 100;
  padding-left: 15px;
}


.section-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}
.section-item {
  position:relative;
  margin: 0;
  margin-bottom: 00px;
  padding: 0;
}


.footer {
  background-color: deepskyblue;;
  padding: 20px;  
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #000000;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./rs_school_js_black.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.container li{
  display: inline-block
  }
  .container a{
    font-family:Georgia, 'Times New Roman';
    font-size: 20px;
    color:black;
    margin-left: 5px;
    padding: 10px 15px;

vertical-align: middle;
}
.container a:hover{
  color:rgb(226, 43, 180)
}
.container li{
  display: inline-block
  }
  .container a{
    font-family:Georgia, 'Times New Roman';
    font-size: 20px;
    color:black;
    margin-left: 5px;
    padding: 10px 15px;

vertical-align: middle;
}
.container a:hover{
  color:rgb(185, 103, 240)
}
.menu-item:hover{
  background-color:ghostwhite;
  border-radius: 4px ;
  
.main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
}

.section-education {
  border-bottom: 1px solid #0c64b6;
}

.toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
  z-index: 15;
}

.toggle div {
  width: 80%;
  height: 2px;
  background: #fff;
  margin: 3px 0;
  z-index: 15;
}

.toggle.collapsed .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.collapsed .line2 {
  opacity: 0;
}

.toggle.collapsed .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
  .section-profile {
    flex-direction: column;
    align-items: center;
  }  
  .section-education {
    border-bottom: 1px solid #000000;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    display: none;
  }
  .toggle {
    display: flex;
  }
  .nav.collapsed {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 525px;
    flex-direction: column;
    background-color: deepskyblue;
  }
  .nav-list.collapsed {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 50px;
  }
}

@media (max-width: 410px) {
  .main-title {
    font-size: 24px;
    letter-spacing: 4px;
  }  
}